In [84]:
import pandas as pd
df=pd.read_csv('data job posts.csv')
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,5-Jan-04,Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26-Jan-04,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,7-Jan-04,Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12-Jan-04,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,7-Jan-04,Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,7-Jan-04,BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,10-Jan-04,Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,28-Dec-15,Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29-Dec-15,28-Jan-16,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30-Dec-15,20-Jan-16,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30-Dec-15,20-Jan-16,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,30-Dec-15,Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30-Dec-15,29-Jan-16,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...",30-Dec-15,Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30-Dec-15,20-Jan-16,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

In [85]:
# 1 task-handling missing values

In [88]:
df.isna().sum()

jobpost                 0
date                    0
Title                  28
Company                 7
AnnouncementCode    17793
Term                11325
Eligibility         14071
Audience            18361
StartDate            9326
Duration             8203
Location               32
JobDescription       3892
JobRequirment        2522
RequiredQual          484
Salary               9379
ApplicationP           60
OpeningDate           706
Deadline               65
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

In [90]:
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].fillna(df[column].mode()[0])

for column in df.select_dtypes(include=['number']).columns:
    df[column] = df[column].fillna(df[column].median())

In [92]:
df.isna().sum()

jobpost             0
date                0
Title               0
Company             0
AnnouncementCode    0
Term                0
Eligibility         0
Audience            0
StartDate           0
Duration            0
Location            0
JobDescription      0
JobRequirment       0
RequiredQual        0
Salary              0
ApplicationP        0
OpeningDate         0
Deadline            0
Notes               0
AboutC              0
Attach              0
Year                0
Month               0
IT                  0
dtype: int64

In [94]:
df.columns

Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'Notes', 'AboutC', 'Attach',
       'Year', 'Month', 'IT'],
      dtype='object')

In [96]:
df.drop(columns= ['Notes', 'Attach'] , inplace=True)

In [98]:
df.columns

Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'AboutC', 'Year', 'Month',
       'IT'],
      dtype='object')

In [100]:
#2 task

In [102]:
import re

def clean_text(text):
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df['JobDescription'] = df['JobDescription'].apply(lambda x: clean_text(str(x)))
df['JobRequirment'] = df['JobRequirment'].apply(lambda x: clean_text(str(x)))
df['RequiredQual'] = df['RequiredQual'].apply(lambda x: clean_text(str(x)))

In [103]:
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,AboutC,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,5-Jan-04,Chief Financial Officer,AMERIA Investment Consulting Company,1,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Supervises financial management and administra...,To perform this job successfully an individual...,Competitive,"To apply for this position, please submit a\r\...",17-Jul-09,26-Jan-04,Mentor Graphics Development Services CJSC is a...,2004,1,False
1,International Research & Exchanges Board (IREX...,7-Jan-04,Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),1,Full time,All qualified candidates,All interested candidates,ASAP,3 months,...,Participate in application design Provide nece...,Bachelors Degree Masters is preferred Excellen...,Competitive,Please submit a cover letter and resume to:\r\...,17-Jul-09,12-Jan-04,The International Research & Exchanges Board (...,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,7-Jan-04,Country Coordinator,Caucasus Environmental NGO Network (CENN),1,Full time,All qualified candidates,All interested candidates,ASAP,Renewable annual contract\r\nPOSITION,...,Working with the Country Director to provide e...,Degree in environmentally related field or 5 y...,Competitive,Please send resume or CV toursula.kazarian@......,17-Jul-09,20 January 2004\r\nSTART DATE: February 2004,The Caucasus Environmental NGO Network is a\r\...,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,7-Jan-04,BCC Specialist,Manoff Group,1,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Identify gaps in knowledge and overseeing info...,Advanced degree in public health social scienc...,Competitive,Please send cover letter and resume to Amy\r\n...,17-Jul-09,23 January 2004\r\nSTART DATE: Immediate,Mentor Graphics Development Services CJSC is a...,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,10-Jan-04,Software Developer,Yerevan Brandy Company,1,Full time,All qualified candidates,All interested candidates,ASAP,Long term,...,Rendering technical assistance to Database Man...,University degree economical background is a p...,Competitive,Successful candidates should submit\r\n- CV; \...,17-Jul-09,"20 January 2004, 18:00",Mentor Graphics Development Services CJSC is a...,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,28-Dec-15,Senior Creative UX/ UI Designer,Technolinguistics NGO,1,Full-time,All qualified candidates,All interested candidates,ASAP,Long-term,...,Work closely with product and business teams t...,At least 5 years of experience in Interface In...,Competitive,"To apply for this position, please send your\r...",29-Dec-15,28-Jan-16,As a company Technolinguistics has a mandate t...,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",1,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,Establish and manage Category Management devel...,University degree ideally business related Com...,Competitive,All interested candidates are kindly requested...,30-Dec-15,20-Jan-16,Mentor Graphics Development Services CJSC is a...,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",1,Full-time,All interested professionals.,All interested candidates,ASAP,Long-term with a probation period of 3 months.,...,Develop establish and maintain marketing strat...,Degree in Business Marketing or a related fiel...,Competitive,All interested candidates are kindly requested...,30-Dec-15,20-Jan-16,Mentor Graphics Development Services CJSC is a...,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,30-Dec-15,Head of Online Sales Department,San Lazzaro LLC,1,Full time,All qualified candidates,All interested candidates,ASAP,Long-term,...,Handle the project activites of the online sto...,At least 1 year of experience in online sales ...,Highly competitive,Interested candidates can send their CVs to:\r...,30-Dec-15,29-Jan-16,San Lazzaro LLC works with several internation...,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...",30-Dec-15,Lawyer in Legal Department,"""Kamurj"" UCO CJSC",1,Full-time,All qualified candidates,All interested candidates,ASAP,Indefinite,...,Properly provide internal legal services of th...,Higher legal education Masters degree is a plu...,Competitive,All qualified applicants are encouraged to\r\n...,30-Dec-15,20-Jan-16,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False

In [104]:
pip install nltk

Requirement already satisfied: nltk in c:\users\cvr\anaconda\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\cvr\anaconda\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\cvr\anaconda\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\cvr\anaconda\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\cvr\anaconda\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\cvr\anaconda\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [108]:
import nltk
nltk.download('punkt', force=True)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\CVR\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [109]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\CVR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [110]:
from nltk.tokenize import WordPunctTokenizer
tokenizer = WordPunctTokenizer()

df['JobDescription'] = df['JobDescription'].apply(lambda x: tokenizer.tokenize(str(x).lower()))
df['JobDescription']

0        [ameria, investment, consulting, company, is, ...
1        [the, incumbent, will, work, under, the, direc...
2        [public, outreach, and, strengthening, of, a, ...
3        [the, lead, local, enhancement, and, developme...
4        [the, incumbent, will, work, under, the, direc...
                               ...
18996    [a, tech, startup, of, technolinguistics, base...
18997    [the, incumbent, will, work, under, the, direc...
18998    [the, incumbent, will, work, under, the, direc...
18999    [san, lazzaro, llc, is, looking, for, a, welle...
19000    [kamurj, uco, cjsc, is, looking, for, a, lawye...
Name: JobDescription, Length: 19001, dtype: object

In [111]:
from nltk.tokenize import WordPunctTokenizer
import re

tokenizer = WordPunctTokenizer()

def clean_tokens(tokens):
    return [token.lower() for token in tokens if re.match(r'\w+', token)]  # Only keep alphanumeric words

df['JobDescription'] = df['JobDescription'].apply(lambda x: clean_tokens(tokenizer.tokenize(str(x).lower())))
df['JobRequirment'] = df['JobRequirment'].apply(lambda x: clean_tokens(tokenizer.tokenize(str(x).lower())))

df[['JobDescription','JobRequirment']].head()

,JobDescription,JobRequirment
0,"[ameria, investment, consulting, company, is, ...","[supervises, financial, management, and, admin..."
1,"[the, incumbent, will, work, under, the, direc...","[participate, in, application, design, provide..."
2,"[public, outreach, and, strengthening, of, a, ...","[working, with, the, country, director, to, pr..."
3,"[the, lead, local, enhancement, and, developme...","[identify, gaps, in, knowledge, and, overseein..."
4,"[the, incumbent, will, work, under, the, direc...","[rendering, technical, assistance, to, databas..."

In [112]:
import re

def normalize_title(title):
    title = title.lower()

    title = re.sub(r'[^\w\s]', '', title)

    title = re.sub(r'\s+', ' ', title).strip()


    return title

df['NormalizedTitle'] = df['JobDescription'].apply(lambda x: normalize_title(str(x)))
df[['NormalizedTitle']].head()

                                     NormalizedTitle
0  ameria investment consulting company is seekin...
1  the incumbent will work under the direct super...
2  public outreach and strengthening of a growing...
3  the lead local enhancement and development for...
4  the incumbent will work under the direct super...

In [113]:
import re

def standardize_terms(text, term_mapping):
    for term, standard in term_mapping.items():
        text = re.sub(r'\b' + re.escape(term) + r'\b', standard, text, flags=re.IGNORECASE)
    return text

term_mapping = {
    'developer': 'software engineer',
    'designer': 'UI/UX designer',
    'manager': 'project manager',
    'lead': 'team lead',
    'consultant': 'business consultant',
}

df['StandardizedJobDescription'] = df['JobDescription'].apply(lambda x: standardize_terms(str(x), term_mapping))
df['StandardizedJobRequirment'] = df['JobRequirment'].apply(lambda x: standardize_terms(str(x), term_mapping))

df[['StandardizedJobDescription','StandardizedJobRequirment']].head()

,StandardizedJobDescription,StandardizedJobRequirment
0,"['ameria', 'investment', 'consulting', 'compan...","['supervises', 'financial', 'management', 'and..."
1,"['the', 'incumbent', 'will', 'work', 'under', ...","['participate', 'in', 'application', 'design',..."
2,"['public', 'outreach', 'and', 'strengthening',...","['working', 'with', 'the', 'country', 'directo..."
3,"['the', 'team lead', 'local', 'enhancement', '...","['identify', 'gaps', 'in', 'knowledge', 'and',..."
4,"['the', 'incumbent', 'will', 'work', 'under', ...","['rendering', 'technical', 'assistance', 'to',..."

In [114]:
import re

skills_list = [
    'python', 'java', 'javascript', 'sql', 'html', 'css', 'angular', 'react', 'aws', 
    'machine learning', 'data science', 'deep learning', 'android', 'ios', 'nodejs', 
    'devops', 'docker', 'kubernetes', 'cloud computing', 'cybersecurity', 'sql'
]

def extract_skills(text, skills_list):
    tokens = re.findall(r'\b\w+\b', text.lower())
    
    found_skills = [skill for skill in skills_list if skill in tokens]
    
    return found_skills

df['ExtractedJobDescriptionSkills'] = df['JobDescription'].apply(lambda x: extract_skills(str(x), skills_list))
df['ExtractedJobRequirmentSkills'] = df['JobRequirment'].apply(lambda x: extract_skills(str(x), skills_list))

df[['ExtractedJobDescriptionSkills', 'ExtractedJobRequirmentSkills']].head()

  ExtractedJobDescriptionSkills ExtractedJobRequirmentSkills
0                            []                           []
1                            []                           []
2                            []                           []
3                            []                           []
4                            []                   [sql, sql]

In [142]:
df['Deadline'].fillna(df['OpeningDate'], inplace=True)

df['Jobstartdelay'] = (df['StartDate'] - df['OpeningDate']).dt.days
df['Dayslefttoapply'] = (df['Deadline'] - df['OpeningDate']).dt.days

df.loc[df['Dayslefttoapply'] < 0, 'Dayslefttoapply'] = 0
df.loc[df['Jobstartdelay'] < 0, 'Jobstartdelay'] = 0

df['Year_Opening'] = df['OpeningDate'].dt.year
df['Month_Opening'] = df['OpeningDate'].dt.month
df['Year_Deadline'] = df['Deadline'].dt.year
df['Month_Deadline'] = df['Deadline'].dt.month
df['Year_Start'] = df['StartDate'].dt.year
df['Month_Start'] = df['StartDate'].dt.month

df[['StartDate', 'OpeningDate', 'Deadline', 'Dayslefttoapply', 'Jobstartdelay', 'Year_Opening', 'Month_Opening', 'Year_Deadline', 'Month_Deadline', 'Year_Start', 'Month_Start']]

C:\Users\CVR\AppData\Local\Temp\ipykernel_4544\2220863560.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Deadline'].fillna(df['OpeningDate'], inplace=True)

,StartDate,OpeningDate,Deadline,Dayslefttoapply,Jobstartdelay,Year_Opening,Month_Opening,Year_Deadline,Month_Deadline,Year_Start,Month_Start
0,2000-01-01,2009-07-17,2004-01-26 00:00:00,0.0,0.0,2009.0,7.0,2004.0,1.0,2000,1
1,2000-01-01,2009-07-17,2004-01-12 00:00:00,0.0,0.0,2009.0,7.0,2004.0,1.0,2000,1
2,2000-01-01,2009-07-17,2009-07-17 00:00:00,0.0,0.0,2009.0,7.0,2009.0,7.0,2000,1
3,2000-01-01,2009-07-17,2009-07-17 00:00:00,0.0,0.0,2009.0,7.0,2009.0,7.0,2000,1
4,2000-01-01,2009-07-17,2004-01-20 18:00:00,0.0,0.0,2009.0,7.0,2004.0,1.0,2000,1
...,...,...,...,...,...,...,...,...,...,...,...
18996,2000-01-01,2015-12-29,2016-01-28 00:00:00,30.0,0.0,2015.0,12.0,2016.0,1.0,2000,1
18997,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,0.0,2015.0,12.0,2016.0,1.0,2000,1
18998,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,0.0,2015.0,12.0,2016.0,1.0,2000,1
18999,2000-01-01,2015-12-30,2016-01-29 00:00:00,30.0,0.0,2015.0,12.0,2016.0,1.0,2000,1
19000,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,0.0,2015.0,12.0,2016.0,1.0,2000,1

In [144]:
df['StartDate'] = df['StartDate'].fillna(df['OpeningDate'])

df['Jobstartdelay'] = (df['StartDate'] - df['OpeningDate']).dt.days
df['Dayslefttoapply'] = (df['Deadline'] - df['OpeningDate']).dt.days

df[['StartDate', 'OpeningDate', 'Deadline', 'Dayslefttoapply', 'Jobstartdelay', 'Year_Opening', 'Month_Opening', 'Year_Deadline', 'Month_Deadline', 'Year_Start', 'Month_Start']]

,StartDate,OpeningDate,Deadline,Dayslefttoapply,Jobstartdelay,Year_Opening,Month_Opening,Year_Deadline,Month_Deadline,Year_Start,Month_Start
0,2000-01-01,2009-07-17,2004-01-26 00:00:00,-1999.0,-3485.0,2009.0,7.0,2004.0,1.0,2000,1
1,2000-01-01,2009-07-17,2004-01-12 00:00:00,-2013.0,-3485.0,2009.0,7.0,2004.0,1.0,2000,1
2,2000-01-01,2009-07-17,2009-07-17 00:00:00,0.0,-3485.0,2009.0,7.0,2009.0,7.0,2000,1
3,2000-01-01,2009-07-17,2009-07-17 00:00:00,0.0,-3485.0,2009.0,7.0,2009.0,7.0,2000,1
4,2000-01-01,2009-07-17,2004-01-20 18:00:00,-2005.0,-3485.0,2009.0,7.0,2004.0,1.0,2000,1
...,...,...,...,...,...,...,...,...,...,...,...
18996,2000-01-01,2015-12-29,2016-01-28 00:00:00,30.0,-5841.0,2015.0,12.0,2016.0,1.0,2000,1
18997,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,-5842.0,2015.0,12.0,2016.0,1.0,2000,1
18998,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,-5842.0,2015.0,12.0,2016.0,1.0,2000,1
18999,2000-01-01,2015-12-30,2016-01-29 00:00:00,30.0,-5842.0,2015.0,12.0,2016.0,1.0,2000,1
19000,2000-01-01,2015-12-30,2016-01-20 00:00:00,21.0,-5842.0,2015.0,12.0,2016.0,1.0,2000,1

In [154]:
df[['City', 'Country']] = df['Location'].str.split(',', expand=True, n=1)

df['City'] = df['City'].str.strip()
df['Country'] = df['Country'].str.strip()

df['Country'] = df['Country'].fillna('Unknown')

In [166]:
import re

def extract_salary_range(salary):
    match = re.search(r"(\d+)[Kk]?-(\d+)[Kk]?", salary)
    if match:
        return int(match.group(1)) * 1000, int(match.group(2)) * 1000
    return None, None

df[['min_salary', 'max_salary']] = df['Salary'].apply(lambda x: pd.Series(extract_salary_range(x)))

In [164]:
df['IT'] = df['IT'].astype(str)

df['IT_related_job'] = df['IT'].str.contains("IT|Software|Developer|Engineer", case=False, na=False)

In [171]:

education_map = {
    "Bachelors": "Undergraduate",
    "Masters": "Postgraduate",
    "PhD": "Doctorate",
    "High School": "High School"
}

df['Education_Level'] = df['Eligibility'].replace(education_map)

def extract_experience(audience):
    match = re.search(r"(\d+)-(\d+)\s*years?", audience)
    if match:
        return f"{match.group(1)}-{match.group(2)} years"
    elif "entry-level" in audience.lower():
        return "0-1 years"
    elif "senior" in audience.lower():
        return "5+ years"
    return "Unknown"

df['Experience_Range'] = df['Audience'].apply(extract_experience)

In [173]:
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Month_Deadline,Year_Start,Month_Start,City,Country,min_salary,max_salary,IT_related_job,Education_Level,Experience_Range
0,AMERIA Investment Consulting Company\r\nJOB TI...,5-Jan-04,Chief Financial Officer,AMERIA Investment Consulting Company,1,Full time,All qualified candidates,All interested candidates,2000-01-01,Long term,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown
1,International Research & Exchanges Board (IREX...,7-Jan-04,Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),1,Full time,All qualified candidates,All interested candidates,2000-01-01,3 months,...,1.0,2000,1,IREX Armenia Main Office; Yerevan,Armenia \r\nDESCRIPTION: IREX currently seek...,NaN,NaN,False,All qualified candidates,Unknown
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,7-Jan-04,Country Coordinator,Caucasus Environmental NGO Network (CENN),1,Full time,All qualified candidates,All interested candidates,2000-01-01,Renewable annual contract\r\nPOSITION,...,7.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,7-Jan-04,BCC Specialist,Manoff Group,1,Full time,All qualified candidates,All interested candidates,2000-01-01,Long term,...,7.0,2000,1,Manila,Philippines,NaN,NaN,False,All qualified candidates,Unknown
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,10-Jan-04,Software Developer,Yerevan Brandy Company,1,Full time,All qualified candidates,All interested candidates,2000-01-01,Long term,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,28-Dec-15,Senior Creative UX/ UI Designer,Technolinguistics NGO,1,Full-time,All qualified candidates,All interested candidates,2000-01-01,Long-term,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",1,Full-time,All interested professionals.,All interested candidates,2000-01-01,Long-term with a probation period of 3 months.,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All interested professionals.,Unknown
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",30-Dec-15,Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",1,Full-time,All interested professionals.,All interested candidates,2000-01-01,Long-term with a probation period of 3 months.,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All interested professionals.,Unknown
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,30-Dec-15,Head of Online Sales Department,San Lazzaro LLC,1,Full time,All qualified candidates,All interested candidates,2000-01-01,Long-term,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...",30-Dec-15,Lawyer in Legal Department,"""Kamurj"" UCO CJSC",1,Full-time,All qualified candidates,All interested candidates,2000-01-01,Indefinite,...,1.0,2000,1,Yerevan,Armenia,NaN,NaN,False,All qualified candidates,Unknown