In [42]:
import pandas as pd

In [44]:
from sqlalchemy import create_engine

In [54]:
import pandas as pd
from sqlalchemy import create_engine


username = 'root'         
password = '1234'       
host = 'localhost'       
database = 'tina'          
 
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
 
engine = create_engine(connection_string)
df_sql = pd.read_sql('SELECT * FROM students', engine)
 
print(df_sql)

Empty DataFrame
Columns: [student_id, first_name, last_name]
Index: []

In [48]:

print(df_products.columns)
print(df_orders.columns)

Index(['ProductID', 'ProductName', 'Price'], dtype='object')
Index(['OrderID', 'ProductName', 'Quantity'], dtype='object')

In [50]:
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:1234@localhost/tina')

df_products = pd.read_sql(query, engine)

In [34]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:1234@localhost/tina')  

query = "SELECT * FROM Products"  
df_products = pd.read_sql(query, engine)  

df_orders = pd.read_csv(r'D:\5BS\Tina_COE-main\orders.csv') 

merged_df = pd.merge(df_products, df_orders, on='ProductName', how='outer')

print(merged_df.head())

output_path = r'd:\5BS\Tina_COE-main\merged_products_order.csv'  
merged_df.to_csv(output_path, index=False)  

print(f'Merged data saved to: {output_path}')

   ProductID ProductName   Price  OrderID  Quantity
0          3    Keyboard   49.95      NaN       NaN
1          1      Laptop  750.50   1001.0       2.0
2          4     Monitor  199.99   1003.0       1.0
3          2       Mouse   25.99   1002.0       5.0
Merged data saved to: d:\5BS\Tina_COE-main\merged_products_orders.csv

In [58]:
import pandas as pd
import numpy as np
data = {'order_id': np.arange(1, 1001)} 
df = pd.DataFrame(data)
print(f"Default Data Type: {df['order_id'].dtype}")  
print(f"Initial Memory Usage: {df.memory_usage(deep=True)}")

df['order_id'] = df['order_id'].astype(np.int16)

print(f"Memory Usage After Conversion: {df.memory_usage(deep=True)}")

Default Data Type: int32
Initial Memory Usage: Index        132
order_id    4000
dtype: int64
Memory Usage After Conversion: Index        132
order_id    2000
dtype: int64

In [62]:

data = {'sales_amount': np.random.random(1000000)} 
df = pd.DataFrame(data)
 
print(df['sales_amount'].dtype)
df['sales_amount'] = df['sales_amount'].astype(np.float32)
 
print(f"Memory Usage: {df.memory_usage(deep=True)}")

float64
Memory Usage: Index               132
sales_amount    4000000
dtype: int64

In [64]:

data = {'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Los Angeles'] * 100000}
df = pd.DataFrame(data)
 
print(df['city'].dtype)
df['city'] = df['city'].astype('category')
 
print(f"Memory Usage: {df.memory_usage(deep=True)}")

object
Memory Usage: Index       132
city     500281
dtype: int64