In [3]:
import pandas as pd

In [5]:
import numpy as np

In [7]:
cd

C:\Users\CVR

In [21]:
pokemon_data = pd.read_csv("pokemon_dataset.csv")

In [23]:
pokemon_data

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,1,bulbasaur,grass,poison,red/blue,gen 1,regular,318,45,49,49,65,65,45
1,2,ivysaur,grass,poison,red/blue,gen 1,regular,405,60,62,63,80,80,60
2,3,venusaur,grass,poison,red/blue,gen 1,regular,525,80,82,83,100,100,80
3,4,charmander,fire,NaN,red/blue,gen 1,regular,309,39,52,43,60,50,65
4,5,charmeleon,fire,NaN,red/blue,gen 1,regular,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,raging-bolt,electric,dragon,scarlet/violet,gen 9,paradox,590,125,73,91,137,89,75
1021,1022,iron-boulder,rock,psychic,scarlet/violet,gen 9,regular,590,90,120,80,68,108,124
1022,1023,iron-crown,steel,psychic,scarlet/violet,gen 9,paradox,590,90,72,100,122,108,98
1023,1024,terapagos,normal,NaN,scarlet/violet,gen 9,legendary,450,90,65,85,65,85,60
1024,1025,pecharunt,poison,ghost,scarlet/violet,gen 9,mythical,600,88,88,160,88,88,88

In [25]:
pokemon_data.head()

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,1,bulbasaur,grass,poison,red/blue,gen 1,regular,318,45,49,49,65,65,45
1,2,ivysaur,grass,poison,red/blue,gen 1,regular,405,60,62,63,80,80,60
2,3,venusaur,grass,poison,red/blue,gen 1,regular,525,80,82,83,100,100,80
3,4,charmander,fire,NaN,red/blue,gen 1,regular,309,39,52,43,60,50,65
4,5,charmeleon,fire,NaN,red/blue,gen 1,regular,405,58,64,58,80,65,80

In [27]:
pokemon_data.info

<bound method DataFrame.info of       pokemon_id          name primary_type secondary_type first_appreance  \
0              1     bulbasaur        grass         poison        red/blue
1              2       ivysaur        grass         poison        red/blue
2              3      venusaur        grass         poison        red/blue
3              4    charmander         fire            NaN        red/blue
4              5    charmeleon         fire            NaN        red/blue
...          ...           ...          ...            ...             ...
1020        1021   raging-bolt     electric         dragon  scarlet/violet
1021        1022  iron-boulder         rock        psychic  scarlet/violet
1022        1023    iron-crown        steel        psychic  scarlet/violet
1023        1024     terapagos       normal            NaN  scarlet/violet
1024        1025     pecharunt       poison          ghost  scarlet/violet

     generation   category  total_base_stats   hp  attack  defense  \
0         gen 1    regular               318   45      49       49
1         gen 1    regular               405   60      62       63
2         gen 1    regular               525   80      82       83
3         gen 1    regular               309   39      52       43
4         gen 1    regular               405   58      64       58
...         ...        ...               ...  ...     ...      ...
1020      gen 9    paradox               590  125      73       91
1021      gen 9    regular               590   90     120       80
1022      gen 9    paradox               590   90      72      100
1023      gen 9  legendary               450   90      65       85
1024      gen 9   mythical               600   88      88      160

      special_attack  special_defense  speed
0                 65               65     45
1                 80               80     60
2                100              100     80
3                 60               50     65
4                 80               65     80
...              ...              ...    ...
1020             137               89     75
1021              68              108    124
1022             122              108     98
1023              65               85     60
1024              88               88     88

[1025 rows x 14 columns]>

In [29]:
pokemon_data.shape

(1025, 14)

In [31]:
pokemon_data.columns

Index(['pokemon_id', 'name', 'primary_type', 'secondary_type',
       'first_appreance', 'generation', 'category', 'total_base_stats', 'hp',
       'attack', 'defense', 'special_attack', 'special_defense', 'speed'],
      dtype='object')

In [35]:
pokemon_data.isnull().sum()

pokemon_id            0
name                  0
primary_type          0
secondary_type      499
first_appreance       0
generation            0
category              0
total_base_stats      0
hp                    0
attack                0
defense               0
special_attack        0
special_defense       0
speed                 0
dtype: int64

In [37]:
pokemon_data.isnull()

,pokemon_id,name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
pokemon_data['secondary_type'].unique()

array(['poison', nan, 'flying', 'ground', 'fairy', 'grass', 'fighting',
       'psychic', 'steel', 'ice', 'rock', 'water', 'electric', 'fire',
       'dragon', 'dark', 'ghost', 'bug', 'normal'], dtype=object)

In [99]:
pokemon_data['secondary_type'] = pokemon_data['secondary_type'].fillna('Unknown')
pokemon_data

,pokemon_id,pokemon_name,primary_type,secondary_type,first_appreance,generation,category,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
0,1,bulbasaur,grass,poison,red/blue,gen 1,regular,318,45,49,49,65,65,45
1,2,ivysaur,grass,poison,red/blue,gen 1,regular,405,60,62,63,80,80,60
2,3,venusaur,grass,poison,red/blue,gen 1,regular,525,80,82,83,100,100,80
3,4,charmander,fire,Unknown,red/blue,gen 1,regular,309,39,52,43,60,50,65
4,5,charmeleon,fire,Unknown,red/blue,gen 1,regular,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,raging-bolt,electric,dragon,scarlet/violet,gen 9,paradox,590,125,73,91,137,89,75
1021,1022,iron-boulder,rock,psychic,scarlet/violet,gen 9,regular,590,90,120,80,68,108,124
1022,1023,iron-crown,steel,psychic,scarlet/violet,gen 9,paradox,590,90,72,100,122,108,98
1023,1024,terapagos,normal,Unknown,scarlet/violet,gen 9,legendary,450,90,65,85,65,85,60
1024,1025,pecharunt,poison,ghost,scarlet/violet,gen 9,mythical,600,88,88,160,88,88,88

In [49]:
pokemon_data.isnull().sum()

pokemon_id          0
name                0
primary_type        0
secondary_type      0
first_appreance     0
generation          0
category            0
total_base_stats    0
hp                  0
attack              0
defense             0
special_attack      0
special_defense     0
speed               0
dtype: int64

In [53]:
 pokemon_data.duplicated().sum()

0

In [57]:
pokemon_data.describe()

,pokemon_id,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,513.000000,427.686829,70.184390,77.521951,72.507317,70.080976,70.205854,67.186341
std,296.036315,112.770735,26.631054,29.782541,29.286972,29.658378,26.639329,28.717227
min,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,257.000000,325.000000,50.000000,55.000000,50.000000,47.000000,50.000000,45.000000
50%,513.000000,450.000000,68.000000,75.000000,70.000000,65.000000,67.000000,65.000000
75%,769.000000,508.000000,85.000000,100.000000,90.000000,90.000000,86.000000,88.000000
max,1025.000000,720.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000

In [93]:
pokemon_data.rename(columns={'name': 'pokemon_name'}, inplace=True)

In [67]:
print(pokemon_data['speed'].mean())
print(pokemon_data['speed'].mode())
print(pokemon_data['speed'].median())

67.18634146341464
0    50
Name: speed, dtype: int64
65.0

In [91]:
nc = pokemon_data.select_dtypes(include=['number'])
corr_matrix = nc.corr()
corr_matrix

,pokemon_id,total_base_stats,hp,attack,defense,special_attack,special_defense,speed
pokemon_id,1.000000,0.194158,0.147574,0.173065,0.134994,0.118280,0.100935,0.092647
total_base_stats,0.194158,1.000000,0.667127,0.714396,0.629466,0.701154,0.697998,0.553797
hp,0.147574,0.667127,1.000000,0.476141,0.299013,0.359616,0.369087,0.179877
attack,0.173065,0.714396,0.476141,1.000000,0.465565,0.281880,0.226126,0.351055
defense,0.134994,0.629466,0.299013,0.465565,1.000000,0.210107,0.503281,0.008047
special_attack,0.118280,0.701154,0.359616,0.281880,0.210107,1.000000,0.493034,0.423150
special_defense,0.100935,0.697998,0.369087,0.226126,0.503281,0.493034,1.000000,0.214105
speed,0.092647,0.553797,0.179877,0.351055,0.008047,0.423150,0.214105,1.000000

In [95]:
pokemon_data.isnull().sum()

pokemon_id          0
pokemon_name        0
primary_type        0
secondary_type      0
first_appreance     0
generation          0
category            0
total_base_stats    0
hp                  0
attack              0
defense             0
special_attack      0
special_defense     0
speed               0
dtype: int64

In [97]:
print(pokemon_data.duplicated().sum())

0